@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/gisfaces-background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #FFFFFF;
	margin-top: -2px;
}

#header {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	height: auto;
	padding-top: 0px;
	text-align: center;
}

#content {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 73px;
}

h1 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 30px;
	font-weight: bold;
	color: #595010;
	margin-bottom: 40px;
	text-align: center;
}

a {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 18px;
	font-weight: bold;
	color: #4C6C35;
	text-decoration: none;
}

a:hover {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 18px;
	font-weight: bold;
	color: #5A5012;
	text-decoration: underline;
}

table {
	margin: 0px auto;
	border-spacing: 10px;
}

.viewsource {
	visibility: hidden;
}
@-moz-document url-prefix() {
	.viewsource, .viewsource:hover {
		visibility: visible;
		font-size: 10px;
		font-weight: normal;
	}
}
